*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  body {
    background: #181f2b;
  }
  header {
    padding: 1.5rem 1.5rem 3rem 1.25rem;
  }
  header .logo-and-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .logo-and-links .logo {
    width: 80px;
    height: 24px;
  }
  header .logo-and-links nav ul {
    display: flex;
  }
  header .logo-and-links nav ul li + li {
    margin-left: 1.5625rem;
  }
  header .logo-and-links nav ul li a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero {
    padding: 0rem 2.1875rem 7.5rem 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero .image-hero {
    margin-bottom: 2.0625rem;
  }
  main .hero h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    text-align: center;
    color: #ffffff;
    margin-bottom: 0.9375rem;
  }
  main .hero p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  main .hero button {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    width: 240px;
    height: 48px;
    background: linear-gradient(134.79deg, #63e1d9 -42.11%, #34a0cd 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 24px;
  }
  main .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px;
    margin-bottom: 160px;
  }
  main .flex .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  main .flex .flex-item .icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }
  main .flex .flex-item h2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    text-align: center;
    color: #ffffff;
    margin-bottom: 8px;
  }
  main .flex .flex-item p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    text-align: center;
    color: #ffffff;
  }
  main .stay {
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
  }
  main .stay .image {
    width: 304px;
    margin-bottom: 48px;
  }
  main .stay h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
  }
  main .stay p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    color: #ffffff;
    margin-bottom: 16px;
  }
  main .stay .link-and-icon-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    border-bottom: 1px solid #62e0d9;
  }
  main .stay .link-and-icon-arrow a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #62e0d9;
    margin-right: 7px;
  }
  main .stay .link-and-icon-arrow .icon-arrow {
    width: 12px;
    height: 12px;
  }
  main .grid {
    margin-bottom: 160px;
  }
  main .grid .box + .box {
    margin-top: 24px;
  }
  main .grid .first-box {
    position: relative;
  }
  main .grid .first-box::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -16px;
    width: 28px;
    height: 20px;
    background-image: url(./images/bg-quotes.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  main .grid .box {
    padding: 24px 20px 21px 20px;
    width: 280px;
    height: 160px;
    background: #202a3c;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;
  }
  main .grid .box p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 17px;
  }
  main .grid .box .avatar-and-info {
    display: flex;
    align-items: center;
  }
  main .grid .box .avatar-and-info .avatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
  }
  main .grid .box .avatar-and-info .avatar img {
    border-radius: 50%;
  }
  main .grid .box .avatar-and-info .name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 4px;
  }
  main .grid .box .avatar-and-info .rule {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 0;
  }
  main .get {
    width: 336px;
    padding: 40px 28px 37px 28px;
    background: #1b2330;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
    border-radius: 9px;
    margin-bottom: -177px;
  }
  main .get h4 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
  }
  main .get p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }
  main .get form input[type=email] {
    width: 280px;
    height: 48px;
    margin-bottom: 24px;
    background: #ffffff;
    box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    padding-left: 29px;
  }
  main .get form ::-moz-placeholder {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #c0c0c0;
  }
  main .get form ::placeholder {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #c0c0c0;
  }
  main .get form input[type=submit] {
    width: 280px;
    height: 48px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 24px;
  }
  footer {
    background: #0b1524;
    padding: 16.1875rem 1.75rem 3.25rem 1.75rem;
  }
  footer .logo {
    width: 108px;
    height: 31px;
    margin-bottom: 35px;
  }
  footer .footer-grid .location {
    display: flex;
    align-items: flex-start;
  }
  footer .footer-grid .location .icon {
    width: 54px;
    height: 24px;
    margin-right: 16px;
  }
  footer .footer-grid .location p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  footer .footer-grid .phone-and-email {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }
  footer .footer-grid .phone-and-email .phone {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  footer .footer-grid .phone-and-email .phone .icon {
    margin-right: 14px;
    width: 20px;
    height: 100%;
  }
  footer .footer-grid .phone-and-email .email {
    display: flex;
    align-items: center;
  }
  footer .footer-grid .phone-and-email .email .icon {
    margin-right: 14px;
    width: 20px;
    height: 100%;
  }
  footer .footer-grid .phone-and-email .icon {
    width: 24px;
    height: 24px;
  }
  footer .footer-grid .phone-and-email p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  footer .footer-grid .links-first {
    margin-top: 56px;
    margin-bottom: 48px;
  }
  footer .footer-grid .links-second {
    margin-bottom: 56px;
  }
  footer .footer-grid ul li + li {
    margin-top: 16px;
  }
  footer .footer-grid ul li a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
  footer .footer-grid .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 104px;
    margin: 0 auto;
  }
  footer .footer-grid .social-media .icon-social {
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
  }
  footer .footer-grid .social-media .icon-social i {
    font-size: 18px;
    color: white;
  }
}
/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body {
    background-color: #1b2330;
  }
  header {
    padding: 4.5625rem 5rem 70.8125rem 5rem;
  }
  header .logo-and-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .logo-and-links .logo {
    width: 11rem;
    height: 3.25rem;
  }
  header .logo-and-links nav ul {
    display: flex;
  }
  header .logo-and-links nav ul li + li {
    margin-left: 3.5625rem;
  }
  header .logo-and-links nav ul li a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero {
    position: absolute;
    top: 200px;
    padding: 0rem 2.1875rem 9.875rem 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero .image-hero {
    margin-bottom: 2.25rem;
    width: 45rem;
  }
  main .hero h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
    max-width: 45.625rem;
  }
  main .hero p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    max-width: 36.25rem;
    margin-bottom: 2rem;
  }
  main .hero button {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    width: 280px;
    height: 56px;
    background: linear-gradient(134.79deg, #63e1d9 -42.11%, #34a0cd 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 24px;
  }
  main .f-bg {
    background-color: #181f2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  main .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 79px 147px;
    margin-bottom: 137px;
  }
  main .flex::before {
    content: "";
    position: absolute;
    top: -410px;
    left: 0;
    width: 100vw;
    height: 100%;
    background: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -4;
  }
  main .flex .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    width: 349px;
  }
  main .flex .flex-item .icon {
    width: 104px;
    height: 104px;
    margin-bottom: 24px;
  }
  main .flex .flex-item .icon-security img {
    margin-top: -29px;
  }
  main .flex .flex-item h2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 8px;
  }
  main .flex .flex-item p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  main .stay {
    margin-bottom: 179px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 105px;
    padding-right: 101px;
  }
  main .stay .image {
    width: 614.76px;
    margin-right: 57.24px;
  }
  main .stay .text {
    max-width: 553px;
  }
  main .stay h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    color: #ffffff;
    max-width: 390px;
    margin-bottom: 16px;
  }
  main .stay p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  main .stay .link-and-icon-arrow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 166px;
    margin-top: 8px;
    position: relative;
  }
  main .stay .link-and-icon-arrow::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 166px;
    height: 1px;
    background-color: #62e0d9;
  }
  main .stay .link-and-icon-arrow a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #62e0d9;
    margin-right: 7px;
  }
  main .stay .link-and-icon-arrow .icon-arrow {
    width: 12px;
    height: 12px;
  }
  main .grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 200px;
  }
  main .grid .box + .box {
    margin-left: 40px;
  }
  main .grid .first-box {
    position: relative;
  }
  main .grid .first-box::after {
    content: "";
    position: absolute;
    left: -15px;
    top: -46px;
    width: 88px;
    height: 60px;
    background-image: url(./images/bg-quotes.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
  main .grid .box {
    padding: 40px 34px 26px 26px;
    width: 360px;
    height: 200px;
    background: #202a3c;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;
  }
  main .grid .box p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  main .grid .box .avatar-and-info {
    display: flex;
    align-items: center;
  }
  main .grid .box .avatar-and-info .avatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
  }
  main .grid .box .avatar-and-info .avatar img {
    border-radius: 50%;
  }
  main .grid .box .avatar-and-info .name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 4px;
  }
  main .grid .box .avatar-and-info .rule {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 0;
  }
  main .get {
    width: 863px;
    padding: 42px 77px;
    background: #1b2330;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
    border-radius: 9px;
    margin-bottom: -116px;
  }
  main .get h4 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
  }
  main .get p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 38px;
  }
  main .get form input[type=email] {
    width: 480px;
    height: 48px;
    background: #ffffff;
    box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    padding-left: 29px;
  }
  main .get form ::-moz-placeholder {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #c0c0c0;
  }
  main .get form ::placeholder {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #c0c0c0;
  }
  main .get form input[type=submit] {
    width: 200px;
    height: 48px;
    margin-left: 24px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 24px;
  }
  footer {
    background: #0b1524;
    padding: 10.5625rem 5.0625rem 3.3125rem 7.5rem;
  }
  footer .logo {
    width: 108px;
    height: 31px;
    margin-bottom: 35px;
  }
  footer .footer-grid {
    display: flex;
    align-items: flex-start;
  }
  footer .footer-grid .location {
    width: 379px;
    display: flex;
    align-items: flex-start;
    margin-right: 80px;
  }
  footer .footer-grid .location .icon {
    width: 54px;
    height: 24px;
    margin-right: 16px;
  }
  footer .footer-grid .location p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  footer .footer-grid .phone-and-email {
    width: 171px;
    margin-right: 146px;
    display: flex;
    flex-direction: column;
  }
  footer .footer-grid .phone-and-email .phone {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  footer .footer-grid .phone-and-email .phone .icon {
    margin-right: 14px;
    width: 20px;
    height: 100%;
  }
  footer .footer-grid .phone-and-email .email {
    display: flex;
    align-items: center;
  }
  footer .footer-grid .phone-and-email .email .icon {
    margin-right: 14px;
    width: 20px;
    height: 100%;
  }
  footer .footer-grid .phone-and-email .icon {
    width: 24px;
    height: 24px;
  }
  footer .footer-grid .phone-and-email p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  footer .footer-grid .links-first {
    margin-right: 80px;
  }
  footer .footer-grid ul li + li {
    margin-top: 16px;
  }
  footer .footer-grid ul li a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
  footer .footer-grid .social-media {
    margin-left: 114px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 120px;
  }
  footer .footer-grid .social-media .icon-social {
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
  }
  footer .footer-grid .social-media .icon-social i {
    font-size: 18px;
    color: white;
  }
}
/*############ for-tablet-landscape-up #############*/
/*############ for-desktop-up ###########*/
/*############ for-big-desktop-up ##########*//*# sourceMappingURL=style.css.map */